<body>
    <nav class="navbar  bg-primary-subtle" id="nv" >
      <div class="container">
        <h1 style="font-family: 'Arial Rounded MT Bold' ; color: #5c298f"> QuiZiZ </h1>
        <div style="justify-content: space-between">
          <button class="btn btn-outline-dark" routerLink="home" id="aa">Accueil</button>
          <button class="btn btn-outline-dark" id="bb" routerLink="about" >À propos</button>
          <button class="btn btn-outline-dark" id="dd" routerLink="projets">Projets</button>
          <button class="btn btn-outline-dark" id="cc" routerLink="contact">Contact</button>
        </div>
      </div>
    </nav>
</body>

<router-outlet>

</router-outlet>
